body {
    background-color: #1f085c;
    text-align: center;
    font-size: 20px;
    color: beige;

}

section{
    width: 450px;
    height: 450px;
    margin-left: 430px;
}

.field {
    background-color: white;
    font-size: 100px;
    width: 120px;
    height:120px;
    float: left;
    border: solid 1px black;
    cursor: pointer;
    color: white;
    text-align: center;
    
}

#player {
    display: inline;
    color: black;
    font-size: 60px;
}

#replay {
    width: 200px;
    height: 100px;
    font-size: 16pt;
    color: black;
    margin-right: 50px;
   
}